spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/issuetrackingsystem # jdbc:h2:~/issuetrackingsystem
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
  #      show_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

logging.level:
  org.hibernate.SQL: debug

